* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 4% auto;
  background: white;
  padding: 2%;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

label {
  margin: 2% 0 0 0;
  display: block;
}

select, button {
  width: 100%;
  padding: 1.5%;
  margin: 1.5% 0 0 0 ;
}

button {
  margin: 5% 0 0 0;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.phone {
  background: #f1f1f1;
  margin: 5% 0 0 0;
  padding: 2%;
  border-radius: 6px;
  border-left: 5px solid #007bff;
}
