* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 4% auto;
  background: #ffff;
  padding: 2%;
  border-radius: 5vw;
}

h1, p {
  text-align: center;
  margin: 0 0 2% 0;
  color: rgb(82, 111, 124);
}

label {
  margin: 2% 0 0 0;
  font-size: 90%;
  display: block;
  color: rgb(82, 111, 124);
  width: 100%;
}

select, button {
  background: transparent;
  border: 2px solid rgb(99, 130, 143);
  border-radius: 50vw;
  color: rgb(99, 130, 143);
  font-size: 100%;
  width: 100%;
  padding: 1.5%;
  margin: 2.5% 0 0 0 ;
}

button {
  background: transparent;
  border: 2px solid rgb(99, 130, 143);
  border-radius: 50vw;
  color: rgb(99, 130, 143);
  cursor: pointer;
  font-size: 4vw;
  transition: all 0.3s ease-in-out;
  margin: 4.5% 0 0 0 ;
  width: 50%;
}

button:hover {
  background: #0056b3;
}

.phone {
  width: 80%;
  background: transparent;
  border: 2px solid rgb(99, 130, 143);
  border-radius: 2vw;
  background: #f1f1f1;
  margin: 5% 0 0 0;
  padding: 2%;
  border-left: 5px solid #007bff;
}

strong {
  font-size: 120%;
  color: rgb(99, 130, 143);
  width: 100%;
}

#results {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 110%;
  flex-wrap: wrap;
}

#phoneForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 769.98px) {
  
.container {
  width: 60%;
  margin: 4% auto;
  padding: 2%;
  border-radius: 5vw;
}

h1, p {
  margin: 0 0 2% 0;
  font-size: 150%;
}

h1 {
  font-size: 220%;
}

label {
  margin: 2% 0 0 0;
  font-size: 130%;
  width: 100%;
}

select, button {
  border: 2px solid rgb(99, 130, 143);
  border-radius: 50vw;
  font-size: 120%;
  width: 100%;
  padding: 1.5%;
  margin: 1.5% 0 0 0 ;
}

button {
  background: transparent;
  border: 2px solid rgb(99, 130, 143);
  border-radius: 50vw;
  color: rgb(99, 130, 143);
  cursor: pointer;
  font-size: 140%;
  transition: all 0.3s ease-in-out;
  width: 30%;
}

.phone {
  width: 30%;
  border: 2px solid rgb(99, 130, 143);
  border-radius: 2vw;
  margin: 5% 0 0 0;
  padding: 2%;
  border-left: 5px solid #007bff;
}

#results {
  width: 100%;
  font-size: 120%;
}

#phoneForm {
  width: 100%;
}
}